*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: linear-gradient(180deg, rgb(10, 1, 26), rgb(29, 5, 66));
   
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.crud{
    width: 80%;
    margin:auto;
 
}
/* details of head part */
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-size:2em;
}


/* details of input part */
/* details of creation part */
input{
    width: 100%;
background-color: #383737;
outline: none;
height: 30px;
margin: 4px 0;
border-radius: 4px;
padding: 5px;
color: aliceblue;

}
input:focus{
background-color: #000;
transform: scale(1.06);
}
.priceCount input{
    width: 20%;
}
#total{
    width: 19%;
   background-color:red;
padding: 4px;
border-radius: 5px;
font-size:large;
}
#total::before{
    content: "total:";
    

}
#submit{
    width: 100%;
    height: 30px;
    border:none;
    cursor: pointer;
    background-color:rgb(43, 70, 2);
    border-radius: 30px;
    color: aliceblue;
    font-size: x-large;

}
#submit:hover{
    background-color:rgb(73, 117, 6);
letter-spacing: .5px;
transition: .5s ;
transform: scale(1.05);
}


/* details of output part */
/* details of  search part */
.searchBlock{
    margin-top: 10px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
    }
.btnSearch button{
width: 45%;
background-color: rgb(85, 8, 156);
height: 30px;
outline: none;
border-style:none;
border-radius: 15px;

color: aliceblue;
}
.btnSearch button:hover{
    transform: scale(1.05);
background-color: rgb(122, 19, 218);
transition: 1s;
cursor:pointer;

}

/* details of  table part */

table{
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
table th{
    text-transform: uppercase;

}
 th,td{
    padding: 5px;
    border-radius: 5px;
}



#update,#delete{
    background-color: rgb(64, 30, 143);
color: aliceblue;
width: 50px;
height: 30px;
border-style:none;
border-radius: 5px;
}
#delete:hover,#update:hover{
    transform: scale(1.2);
    background-color: rgb(111, 70, 207);

}

#clearbtn{
    background-color: rgb(112, 9, 9);
    color: aliceblue;
    width: 100%;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    padding-top: 3px;
    font-size:larger;
    font-style: italic;
letter-spacing: 1px;
}
#clearbtn:hover{
    transform: scale(.95);
    transition:.5s ease-in-out;
    cursor: pointer;
}




/* width */
::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #8d998c;
    box-shadow:inset  5px 5px 3px rgba(10, 10, 10, 0.3);
    border-radius: 20px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(85, 8, 156);
    
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #85119c;
    transition: 1s ease-in-out;
  }






